body {
    background-color: rgb(240,235,157);
    margin: 0px;
}

.top {
    background-color: rgb(50,30,20);
    color: cyan;
    padding-top: 4px;
    padding-left: 4px;
}

.top .key {
    color: magenta;
}

.top .value {
    color: yellow;
}

.top .var {
    color: orange;
}

svg {
    border-bottom: 1px solid black;
}

.code {
    position: absolute;
    top: 40px;
    right: 0;
    width: 396px;
    bottom: 30%;
    font-size: 12pt;
}

.display {
    position: absolute;
    top: 71%;
    right: 0;
    width: 396px;
    bottom: 0;
    font-size: 12pt;
}

.repl {
    position: absolute;
    bottom: 0;
    height: 40px;
    right: 396px;
    left: 0;
    font-size: 20pt !important;
}

.login {
    display: inline-block;
}

.color-picker {
    display: inline-block;
    vertical-align: middle;
}

.color {
    border: 3px solid white;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    cursor: pointer;
}

.color.active {
    border-color: yellow;
}

.color.purple {
    background-color: #800080;
}

.color.green {
    background-color: #80e826;
}

.color.orange {
    background-color: #e06b1e;
}
