body {
    background-color: rgb(240,235,157);
    margin: 0px;
    overflow: hidden;
}

.top {
    background-color: rgb(50,30,20);
    color: cyan;
    padding-top: 4px;
    padding-left: 4px;
    height: 35px;
}

.top .key {
    color: magenta;
}

.top .value {
    color: yellow;
}

.top .var {
    color: orange;
}

svg {
    border-bottom: 1px solid black;
}

.code {
    position: absolute;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(50,30,20);
    border-left-width: 4px;

    top: 37px;
    right: 0px;
    width: 396px;
    bottom: 300px;
    font-size: 12pt;
}

.json {
    display: none;

    position: absolute;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(50,30,20);
    border-left-width: 4px;

    top: 37px;
    right: 0px;
    width: 396px;
    bottom: 300px;
    font-size: 12pt;
}

.spellbook {
    display: none;

    position: absolute;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(50,30,20);
    border-left-width: 4px;
    background-color: rgb(250,255,190);
    color: rgb(40,80,15);
    padding: 2px;
    white-space: pre;
    font-family: monospace;

    top: 39px;
    right: 0px;
    width: 396px;
    bottom: 300px;
    font-size: 12pt;

    overflow-x: auto;
    overflow-y: scroll;
}

.error {
    background-color: rgb(255,220,180)
}

.tabs {
    position: absolute;
    right: 0px;
    width: 400px;
    height: 30px;
    bottom: 272px;
    font-size: 12pt;
    background-color: rgb(50,30,20);

    border-width: 0px;
    border-style: solid;
    border-color: rgb(50,30,20);
    border-left-width: 4px;
}

.tab {
    display: inline-block;
    background-color: rgb(220,220,220);
    font-size: 15px;
    height: 1em;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;

    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}

.tab:hover {
    background-color: rgb(240,255,120);
}

.tab.active {
    background-color: rgb(200,255,120);
}

.cast {
    background-color: rgb(220,100,20);
    position: absolute;
    right: 4px;
    width: 50px;
    text-align: center;
    color: rgb(255,220,180);
}

.cast:hover {
    background-color: rgb(255,200,100);
    color: rgb(100,40,20);
}

.cast.disable {
    background-color: rgb(120,120,120);
    color: rgb(200,200,200);
}

.display {
    position: absolute;
    right: 0px;
    width: 400px;
    height: 271px;
    bottom: -15px;
    font-size: 12pt;
    
    border-width: 0px;
    border-style: solid;
    border-color: rgb(50,30,20);
    border-left-width: 4px;
    background-color: white;
    overflow: auto;
}

.repl {
    position: absolute;
    bottom: 0;
    height: 40px;
    right: 396px;
    left: 0;
    font-size: 20pt !important;
}

.login {
    display: inline-block;
}

.color-picker {
    display: inline-block;
    vertical-align: middle;
}

.color {
    border: 3px solid white;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 2px;
    cursor: pointer;
}

.color.active {
    border-color: yellow;
}

.color.purple {
    background-color: #800080;
}

.color.green {
    background-color: #80e826;
}

.color.orange {
    background-color: #e06b1e;
}
